<div class="team">
    <h1 style="color: #16e16e; text-align: center">Edit Team</h1>
    <form class="teamForm">
        <input name="schId" id="schId" hidden value="<%= schId %>">
        <input name="schName" id="schName" hidden value="<%= schName %>">
        <% if (!team) { %>

        <h3>Creative</h3>
        <input name="creativeparticipant1" id="creativeparticipant1" type="text" autocomplete="off" placeholder="Participant1 Name"> <br><br>
        <input name="creativeparticipant2" id="creativeparticipant2" type="text" autocomplete="off" placeholder="Participant2 Name"> <br><br>
        <input name="creativeparticipant3" id="creativeparticipant3" type="text" autocomplete="off" placeholder="Participant3 Name"> <br><br>
        <input name="creativeparticipant4" id="creativeparticipant4" type="text" autocomplete="off" placeholder="Participant4 Name"> <br><br>
        <input name="creativeparticipant5" id="creativeparticipant5" type="text" autocomplete="off" placeholder="Participant5 Name"> <br><br>
        <input name="creativeparticipant6" id="creativeparticipant6" type="text" autocomplete="off" placeholder="Participant6 Name"> <br><br>
        <h4>Crossword</h4>
        <input name="crossparticipant1" id="crossparticipant1" type="text" autocomplete="off" placeholder="Participant1 Name"> <br><br>
        <input name="crossparticipant2" id="crossparticipant2" type="text" autocomplete="off" placeholder="Participant2 Name"> <br><br>
        <h4>Group Discussion</h4>
        <input name="gdparticipant1" id="gdparticipant1" type="text" autocomplete="off" placeholder="Participant1 Name"> <br><br>
        <h4>Surprise</h4>
        <input name="surpparticipant1" id="surpparticipant1" type="text" autocomplete="off" placeholder="Participant1 Name"> <br><br>
        <input name="surpparticipant2" id="surpparticipant2" type="text" autocomplete="off" placeholder="Participant2 Name"> <br><br>
        <h4>Programming</h4>
        <input name="progparticipant1" id="progparticipant1" type="text" autocomplete="off" placeholder="Participant1 Name"> <br><br>
        <input name="progparticipant2" id="progparticipant2" type="text" autocomplete="off" placeholder="Participant2 Name"> <br><br>
        <h4>Film Making</h4>
        <input name="filmparticipant1" id="filmparticipant1" type="text" autocomplete="off" placeholder="Participant1 Name"> <br><br>
        <input name="filmparticipant2" id="filmparticipant2" type="text" autocomplete="off" placeholder="Participant2 Name"> <br><br>
        <input name="filmparticipant3" id="filmparticipant3" type="text" autocomplete="off" placeholder="Participant3 Name"> <br><br>
        <input name="filmparticipant4" id="filmparticipant4" type="text" autocomplete="off" placeholder="Participant4 Name"> <br><br>
        <h4>Gaming</h4>
        <input name="gameparticipant1" id="gamingparticipant1" type="text" autocomplete="off" placeholder="Participant1 Name"> <br><br>
        <input name="gameparticipant2" id="gamingparticipant2" type="text" autocomplete="off" placeholder="Participant2 Name"> <br><br>
        <h4>Quiz</h4>
        <input name="quizparticipant1" id="quizparticipant1" type="text" autocomplete="off" placeholder="Participant1 Name"> <br><br>
        <h4>Robotics</h4>
        <input name="roboticsparticipant1" id="roboticsparticipant1" type="text" autocomplete="off" placeholder="Participant1 Name"> <br><br>
        <input name="roboticsparticipant2" id="roboticsparticipant2" type="text" autocomplete="off" placeholder="Participant2 Name"> <br><br>
        <input name="roboticsparticipant3" id="roboticsparticipant3" type="text" autocomplete="off" placeholder="Participant3 Name"> <br><br>
        <h4>Photography</h4>
        <input name="photoparticipant1" id="photoparticipant1" type="text" autocomplete="off" placeholder="Participant1 Name"> <br><br>
        <h4>paint 3D</h4>
        <input name="paintparticipant1" id="paintparticipant1" type="text" autocomplete="off" placeholder="Participant1 Name"> <br><br>
        <h4>Gamer (Game-Dev)</h4>
        <input name="gamedevparticipant1" id="gamedevparticipant1" type="text" autocomplete="off" placeholder="Participant1 Name"> <br><br>
        <input name="gamedevparticipant2" id="gamedevparticipant2" type="text" autocomplete="off" placeholder="Participant2 Name"> <br><br>
        <h4>Minecraft</h4>
        <input name="minecraftparticipant1" id="minecraftparticipant1" type="text" autocomplete="off" placeholder="Participant1 Name"> <br><br>
        <input name="minecraftparticipant2" id="minecraftparticipant2" type="text" autocomplete="off" placeholder="Participant2 Name"> <br><br>

        <button id="teamBtn">Modify Team</button>
        <% } else { %>

        <h3>Creative</h3>
        <input name="creativeparticipant1" id="creativeparticipant1" type="text" autocomplete="off" placeholder="Participant1 Name" value="<%= team.creativeparticipant1 %>"> <br><br>
        <input name="creativeparticipant2" id="creativeparticipant2" type="text" autocomplete="off" placeholder="Participant2 Name" value="<%= team.creativeparticipant2 %>"> <br><br>
        <input name="creativeparticipant3" id="creativeparticipant3" type="text" autocomplete="off" placeholder="Participant3 Name" value="<%= team.creativeparticipant3 %>"> <br><br>
        <input name="creativeparticipant4" id="creativeparticipant4" type="text" autocomplete="off" placeholder="Participant4 Name" value="<%= team.creativeparticipant4 %>"> <br><br>
        <input name="creativeparticipant5" id="creativeparticipant5" type="text" autocomplete="off" placeholder="Participant5 Name" value="<%= team.creativeparticipant5 %>"> <br><br>
        <input name="creativeparticipant6" id="creativeparticipant6" type="text" autocomplete="off" placeholder="Participant6 Name" value="<%= team.creativeparticipant6 %>"> <br><br>
        <h3>Crossword</h3>
        <input name="crossparticipant1" id="crossparticipant1" type="text" autocomplete="off" placeholder="Participant1 Name" value="<%= team.crossparticipant1 %>"> <br><br>
        <input name="crossparticipant2" id="crossparticipant2" type="text" autocomplete="off" placeholder="Participant2 Name" value="<%= team.crossparticipant2 %>"> <br><br>
        <h3>Group Discussion</h3>
        <input name="gdparticipant1" id="gdparticipant1" type="text" autocomplete="off" placeholder="Participant1 Name" value="<%= team.gdparticipant1 %>"> <br><br>
        <h3>Surprise</h3>
        <input name="surpparticipant1" id="surpparticipant1" type="text" autocomplete="off" placeholder="Participant1 Name" value="<%= team.surpparticipant1 %>"> <br><br>
        <input name="surpparticipant2" id="surpparticipant2" type="text" autocomplete="off" placeholder="Participant2 Name" value="<%= team.surpparticipant2 %>"> <br><br>
        <h3>Programming</h3>
        <input name="progparticipant1" id="progparticipant1" type="text" autocomplete="off" placeholder="Participant1 Name" value="<%= team.progparticipant1 %>"> <br><br>
        <input name="progparticipant2" id="progparticipant2" type="text" autocomplete="off" placeholder="Participant2 Name" value="<%= team.progparticipant2 %>"> <br><br>
        <h3>Film Making</h3>
        <input name="filmparticipant1" id="filmparticipant1" type="text" autocomplete="off" placeholder="Participant1 Name" value="<%= team.filmparticipant1 %>"> <br><br>
        <input name="filmparticipant2" id="filmparticipant2" type="text" autocomplete="off" placeholder="Participant2 Name" value="<%= team.filmparticipant2 %>"> <br><br>
        <input name="filmparticipant3" id="filmparticipant3" type="text" autocomplete="off" placeholder="Participant3 Name" value="<%= team.filmparticipant3 %>"> <br><br>
        <input name="filmparticipant4" id="filmparticipant4" type="text" autocomplete="off" placeholder="Participant4 Name" value="<%= team.filmparticipant4 %>"> <br><br>
        <h3>Gaming</h3>
        <input name="gamingparticipant1" id="gamingparticipant1" type="text" autocomplete="off" placeholder="Participant1 Name" value="<%= team.gamingparticipant1 %>"> <br><br>
        <input name="gamingparticipant2" id="gamingparticipant2" type="text" autocomplete="off" placeholder="Participant2 Name" value="<%= team.gamingparticipant2 %>"> <br><br>
        <h3>Quiz</h3>
        <input name="quizparticipant1" id="quizparticipant1" type="text" autocomplete="off" placeholder="Participant1 Name" value="<%= team.quizparticipant1 %>"> <br><br>
        <h3>Robotics</h3>
        <input name="roboticsparticipant1" id="roboticsparticipant1" type="text" autocomplete="off" placeholder="Participant1 Name" value="<%= team.roboticsparticipant1 %>"> <br><br>
        <input name="roboticsparticipant2" id="roboticsparticipant2" type="text" autocomplete="off" placeholder="Participant2 Name" value="<%= team.roboticsparticipant2 %>"> <br><br>
        <input name="roboticsparticipant3" id="roboticsparticipant3" type="text" autocomplete="off" placeholder="Participant3 Name" value="<%= team.roboticsparticipant3 %>"> <br><br>
        <h3>Photography</h3>
        <input name="photoparticipant1" id="photoparticipant1" type="text" autocomplete="off" placeholder="Participant1 Name" value="<%= team.photoparticipant1 %>"> <br><br>
        <h3>paint 3D</h3>
        <input name="paintparticipant1" id="paintparticipant1" type="text" autocomplete="off" placeholder="Participant1 Name" value="<%= team.paintparticipant1 %>"> <br><br>
        <h3>Gamer (Game-Dev) </h3>
        <input name="gamedevparticipant1" id="gamedevparticipant1" type="text" autocomplete="off" placeholder="Participant1 Name" value="<%= team.gamedevparticipant1 %>"> <br><br>
        <input name="gamedevparticipant2" id="gamedevparticipant2" type="text" autocomplete="off" placeholder="Participant2 Name" value="<%= team.gamedevparticipant2 %>"> <br><br>
        <h3>Minecraft</h3>
        <input name="minecraftparticipant1" id="minecraftparticipant1" type="text" autocomplete="off" placeholder="Participant1 Name" value="<%= team.minecraftparticipant1 %>"> <br><br>
        <input name="minecraftparticipant2" id="minecraftparticipant2" type="text" autocomplete="off" placeholder="Participant2 Name" value="<%= team.minecraftparticipant2 %>"> <br><br>
        <button id="teamBtn">Modify Team</button>


        <% } %>
    </form>
</div>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

    body {
        background: black;
        color: white;
        font-family: 'Outfit', sans-serif;
    }

    .teamForm {
        text-align: center;
    }

    .teamForm input {
        width: 30vw;
        padding: 1vw;
        margin-top: 1.3vw;
        margin-bottom: 1.3vw;
        background-color: #000;
        border: #383737 solid 1px;
        /* border-bottom: 2px solid #eee; */
        font-size: 1vw;
        color: #eee;
        border-radius: 2vw;
        font-family: 'Outfit', sans-serif;
        transition: all 0.5s ease;
        font-size: 1.25vw;
    }

    .teamForm input:focus {
        outline: none;
        border-bottom: 2px solid #16e16e;
    }

    .teamForm h2 {
        font-size: 2vw;
    }

    #teamBtn {
        background-color: #16e16e;
        color: #000;
        border: none;
        width: 16vw;
        height: 3vw;
        border-radius: 2vw;
        font-size: 1.25vw;
        font-family: 'Outfit', sans-serif;
        text-align: center;
        margin-bottom: 2vw;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script>
    var notyf = new Notyf();
    let teamBtn = document.getElementById("teamBtn");

    teamBtn.addEventListener("click", (e) => {
        e.preventDefault();
        let creativeparticipant1 = document.getElementById(
            "creativeparticipant1"
        ).value;
        let creativeparticipant2 = document.getElementById(
            "creativeparticipant2"
        ).value;
        let creativeparticipant3 = document.getElementById(
            "creativeparticipant3"
        ).value;
        let creativeparticipant4 = document.getElementById(
            "creativeparticipant4"
        ).value;
        let creativeparticipant5 = document.getElementById(
            "creativeparticipant5"
        ).value;
        let creativeparticipant6 = document.getElementById(
            "creativeparticipant6"
        ).value;
        let crossparticipant1 = document.getElementById("crossparticipant1").value;
        let crossparticipant2 = document.getElementById("crossparticipant2").value;
        let gdparticipant1 = document.getElementById("gdparticipant1").value;
        let surpparticipant1 = document.getElementById("surpparticipant1").value;
        let surpparticipant2 = document.getElementById("surpparticipant2").value;
        let progparticipant1 = document.getElementById("progparticipant1").value;
        let progparticipant2 = document.getElementById("progparticipant2").value;
        let filmparticipant1 = document.getElementById("filmparticipant1").value;
        let filmparticipant2 = document.getElementById("filmparticipant2").value;
        let filmparticipant3 = document.getElementById("filmparticipant3").value;
        let filmparticipant4 = document.getElementById("filmparticipant4").value;
        let gamingparticipant1 = document.getElementById("gamingparticipant1").value;
        let gamingparticipant2 = document.getElementById("gamingparticipant2").value;
        let quizparticipant1 = document.getElementById("quizparticipant1").value;
        let roboticsparticipant1 = document.getElementById(
            "roboticsparticipant1"
        ).value;
        let roboticsparticipant2 = document.getElementById(
            "roboticsparticipant2"
        ).value;
        let roboticsparticipant3 = document.getElementById(
            "roboticsparticipant3"
        ).value;
        let photoparticipant1 = document.getElementById("photoparticipant1").value;
        let paintparticipant1 = document.getElementById("paintparticipant1").value;
        let gamedevparticipant1 = document.getElementById("gamedevparticipant1").value;
        let gamedevparticipant2 = document.getElementById("gamedevparticipant2").value;
        let minecraftparticipant1 = document.getElementById(
            "minecraftparticipant1"
        ).value;
        let minecraftparticipant2 = document.getElementById(
            "minecraftparticipant2"
        ).value;
        let schId = document.getElementById("schId").value;
        let schName = document.getElementById("schName").value;
        let data = {
            creativeparticipant1,
            creativeparticipant2,
            creativeparticipant3,
            creativeparticipant4,
            creativeparticipant5,
            creativeparticipant6,
            crossparticipant1,
            crossparticipant2,
            gdparticipant1,
            surpparticipant1,
            surpparticipant2,
            progparticipant1,
            progparticipant2,
            filmparticipant1,
            filmparticipant2,
            filmparticipant3,
            filmparticipant4,
            gamingparticipant1,
            gamingparticipant2,
            quizparticipant1,
            roboticsparticipant1,
            roboticsparticipant2,
            roboticsparticipant3,
            photoparticipant1,
            paintparticipant1,
            gamedevparticipant1,
            gamedevparticipant2,
            minecraftparticipant1,
            minecraftparticipant2,
            schId,
            schName,
        };
        fetch("/register/team", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        }).then((res) => {
            if (res.status === 200) {
                notyf.success("Team Updated Successfully");

                setTimeout(() => {
                    location.reload();
                }, 3000);
            } else {
                notyf.error("Team Registration Failed");
            }
        });
    });
</script>